body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

p {
    color: green;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
}

h1 {
    color: blue;
    text-align: center;
}

.box {
    background-color: #d8f1ff;
}

.container {
    margin: 0 auto;
    padding: 20px;
}


img {
    display: block;
    width: 200px;
    height: 200px;
    border: 1px dashed #000000;
}
